/**
 * @name lesbian gay trans fag
 * @author jam
 * @description i spent like an hour getting an anime girl on my discord background
*/
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css");
@import url("https://KillYoy.github.io/DiscordNight/DiscordNight.css");
@import url('https://fonts.cdnfonts.com/css/renogare');
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url("https://dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css");
:root {
.username_f9f2ca {
  color: red;
  font-size: 20px;}
.containerWrapper-1kh54c{display:none}
.footer_aa1bff { display: none; }
.unreadMentionsFixedFooter_fea3ef { bottom: 0; }
  --font-primary: 'Renogare', sans-serif;
  --font-display: 'Renogare', sans-serif;
  --font-headline: 'Renogare', sans-serif;
  --font-family: 'Renogare', sans-serif;
  --main-theme-color: rgba(255, 255, 255, 0.5);
  --theme-background-image: url(https://cdn.discordapp.com/attachments/1274309226193358859/1306484458261844059/wallhaven-5g9ly8.png?ex=6736d5f8&is=67358478&hm=4d1392cf2d5fe84da0697db5a77a366c842c38f38faf6b32d059cfe37158f356&);
  --theme-transparency: rgba(0, 0, 0, 0.6);
  --home-icon-image: url(https://styles.redditmedia.com/t5_b4gp22/styles/communityIcon_ma1fjicy23md1.png);
  --home-icon-image-zoom: 100%;
  --server-listing-width: 60px;
  --font-size: 110%;
  --mention-color: rgba(68, 68, 80, 0.5);
  --mention-sider: rgba(10, 10, 80, 0.3);
  --mention-hover-color: rgba(2, 2, 2, 0.3);
  --category-hover-color: rgb(60, 202, 138);
  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;
  --member-listing-role-color: var(--main-theme-color);
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(red, green, blue, 0);
  --small-user-popout-background-image-position: center;
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(red, green, blue, 0);
  --big-user-popout-background-image-position: center;
  --code-markup-background-color: rgba(0, 0, 0, 0);
  --code-markup-border: 1px solid transparent;
  --message-box-transparency: rgba(0, 0, 0, 0.6);
  --embed-background-transparency: rgba(0, 0, 0, 0);
  --message-hover-buttons-background: rgba(255, 0, 0, 0.5);
  --context-menu-transparency: rgba(15, 15, 15, 0.8);
  --add-discover-icon-color: #3b3e46;
  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(30, 30, 30, 0.8);
  --channel-limit-background-right: rgba(30, 30, 30, 0.8);
  --scrollbar-color: rgba(200, 200, 200, 0.1);
  --unread-message-divider-color: #ff9696;
  --unread-message-divider-font-color: #fff;
  --new-messages-bar-background-color: #ff9696;
  --new-messages-bar-font-color: #fff;
  --emoji-menu-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-sider-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-bottom-bar-background-color: black;
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);
  --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
  --message-search-container-background-color: rgba(0, 0, 0, 0.6);
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);
  --text-voice-channel-color: #fff;
  --text-voice-channel-hover-color: #fff;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #ff9696;
  --unread-text-channel-bubble-color: rgba(red, green, blue, 0);
  --folder-background-color: rgba(red, green, blue, 0);
  --expanded-folder-background-color: transparent;
  --reaction-emoji-background-color: rgba(red, green, blue, 0);
  --reaction-emoji-border-color: rgba(red, green, blue, 0);
  --reaction-emoji-hover-background-color: rgba(red, green, blue, 0);
  --reaction-emoji-hover-border-color: rgba(red, green, blue, 0);
}
